aiofiles  
aiosqlite  
chardet  
click  
contourpy  
Crawl4AI  
cycler  
distro  
duckduckgo_search  
faiss-cpu  
fake-http-header  
filelock  
fonttools  
fpdf  
google-ai-generativelanguage  
google-auth-httplib2  
google-generativeai  
grpcio  
grpcio-status  
importlib_metadata  
jiter  
joblib  
jsonpointer  
kiwisolver  
langchain  
langchain-core  
langchain-community  
langchain-google-genai  
langchain-huggingface  
langchain-text-splitters  
langsmith  
litellm  
lxml  
Markdown  
matplotlib  
networkx  
nltk  
notebook  
numexpr  
numpy  
openai  
openpyxl  
orjson  
